<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</HEAD>
<BODY>
	<P>
		<FONT SIZE=2 FACE="Arial">Dear Team, </FONT>
	</P>
	<P>
		<FONT SIZE=2 FACE="Arial">Please find below enquiry details</FONT>
	</P>
	<P>
		<FONT SIZE=2 FACE="Arial">Name  :  <b>${name}</b></FONT>
	</P>
	<P>
		<FONT SIZE=2 FACE="Arial">Email  :  <b>${email}</b></FONT>
	</P>
	<P>
		<FONT SIZE=2 FACE="Arial">Contact  :  <b>${contact}</b></FONT>
	</P>
	<P>
		<FONT SIZE=2 FACE="Arial">Company  :  <b>${company}</b></FONT>
	</P>
	<P>
		<FONT SIZE=2 FACE="Arial">Message  :  <b>${message}</b></FONT>
	</P>

	<P>
		<FONT SIZE=2 FACE="Arial">Regards,</FONT> <BR>
		<FONT SIZE=2 FACE="Arial">Admin Team</FONT>
	</P>

</BODY>
</HTML>

